body {
    /* Main background image with styling */
    background-image: url("images/background.jpg");
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
  }

#startbutton {
    min-width:100px;
    height:50px;
    margin-bottom: 150px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-1%, -3%);
  }

#startbutton:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}

#startbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

#endbutton {
    min-width:100px;
    height:50px;
    margin-bottom: 150px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: relative;
    top: 45%;
    transform: translate(-1%, -3%);
  }

#endbutton:link {
    text-decoration: none;
    color: black;
    background-color: white;
    box-shadow: 4px 5px 0px black;
}

#endbutton:visited {
    color: black;
    text-decoration: none;
}

#endbutton:hover {
    color: black;
    background-color: lightgrey;
    box-shadow: 3px 3px 1px black;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}

#endbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

.container {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
}

#endcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gamecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.topcontainer {
    color: white;
    font-size: xx-large;
}

.bottomcontainer {
    display: none;
    color: white;
    width: 100%;
    text-align: center;
}

.playercontainer {
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px;
    width: 400px;
    height: 320px;
}

.playerinformation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerlogo {
    margin-right: 1vw;
}

.playerh1 {
    text-align: center;
    color: white;
}

.logo {
    height: 50px;
    width: 50px;
}

.winninglogo {
    display: none;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.playerscore {
    color: white;
}

.gameselections {
    display: flex;
    justify-content: center;
}

.gameselection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px black;
    border-bottom: 2px solid;
    border-right: 1px solid;
    transform: translate(-1%, -3%);
}

.gameselection:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(1%, -1%);
    transition: all 0.1s ease-in;
}

.gameselection:active {
    box-shadow: none;
    transform: translate(3px, 4px);
}

.selection {
    height: 50px;
    width: 50px;
}

.gameselectiontext {
    text-transform: uppercase;
    font-weight: bold;
}

.winninglogodiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;   
        display: flex;
        justify-content: center;
    }
    
    #endcontainer {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .gamecontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    
    .topcontainer {
        color: white;
        font-size: medium;
    }
    
    .bottomcontainer {
        display: none;
        color: white;
        width: 100%;
        text-align: center;
    }
    
    .playercontainer {
        background-color: rgb(70, 70, 70);
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px;
        width: 300px;
        height: 250px;
    }
    
    .playerinformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .playerlogo {
        margin-right: 1vw;
    }
    
    .playerh1 {
        text-align: center;
        color: white;
    }
    
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .winninglogo {
        display: none;
        text-align: center;
        height: 100px;
        width: 100px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .playerscore {
        color: white;
    }
    
    .gameselections {
        display: flex;
        justify-content: center;
    }
    
    .gameselection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: 5px;
        border-radius: 3px;
        box-shadow: 4px 5px 0px black;
        border-bottom: 2px solid;
        border-right: 1px solid;
        transform: translate(-1%, -3%);
    }
    
    .gameselection:hover {
        background-color: lightgrey;
        box-shadow: 3px 3px 1px;
        border-bottom: 2px solid;
        transform: translate(1%, -1%);
        transition: all 0.1s ease-in;
    }
    
    .gameselection:active {
        box-shadow: none;
        transform: translate(3px, 4px);
    }
    
    .selection {
        height: 25px;
        width: 25px;
    }
    
    .gameselectiontext {
        text-transform: uppercase;
        font-weight: bold;
    }

    .winninglogodiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}